{% extends "_layout.njk" %}

{% block content %}
  <section class="container bg-grey">
    <section class="section-introduction grid-hero grid-960">

      <p>An app for creating a record of all the things on a timeline.</p>

      <p><a href="#" class="btn btn-primary btn-lg">Sign Up!</a> <a class="btn btn-lg">Log In</a></p>

    </section>
  </section>
{% endblock %}
