{% extends "_layout.njk" %}

{% block content %}
  {# <section class="container bg-grey">
    <section class="section-introduction grid-hero grid-960">

      <p>An app for creating a record of all the things on a timeline.</p>

      <p><a href="#" class="btn btn-primary btn-lg">Sign Up!</a> <a class="btn btn-lg" data-bind="click: loginUser">Log In</a></p>

    </section>
  </section> #}

  <section class="section-timelines" data-bind="">
    <section class="section-timeline">
      <ul class="timeline" data-bind="foreach: events">
        <li class="timeline-event">
          <div class="timeline-event--date" data-bind="text: dateString"></div>
          <div class="timeline-event--name" data-bind="text: name"></div>
          <div class="timeline-event--description" data-bind="text: description"></div>
        </li>
      </ul>
    </section>
  </section>
{% endblock %}
