.navbar {
  background-color: $primarydark;
  color: $primarylight;

  .btn.btn-link {
    &:link, &:visited {
      color: #FFF;
    }
    &:hover, &:active {
      color: $primarylight;
    }
  }

  .navbar-brand {
    &:link, &:visited {
      color: $primarylight;
    }
  }
}
