.section-timelines {
  overflow-x: hidden;
  padding: 1em 3em 10em;
  position: relative;

  background: url('../img/grey.png') top left repeat;
}

.timeline-list {
  padding: 0 0 3em 0;
  white-space: nowrap;
}

.timeline-date {
  display: inline-block;
  // min-width: 7em;
  position: relative;
}

.timeline-date--card {
  opacity: 0.8;
  position: absolute;
  top: 1.5em;
  left: -0.5em;
  width: auto;
  z-index: 2;

  background: $darkgrey;
  border: none;
  border-radius: 0.25em;
  color: $lightgrey;
  white-space: normal;

  transition: opacity $defaulttransition;

  &:hover {
    opacity: 1;
  }

  &:before {
    position: absolute;
    top: -0.3em;
    left: 0.45em;
    width: 0;
    height: 0;

    content: '';
    border-style: solid;
    border-width: 0 0.3em 0.3em 0.3em;
    border-color: transparent transparent $darkgrey transparent;
  }

  .timeline-date--date {
    white-space: nowrap;
  }

  .timeline-event--details,
  .timeline-date--footer {
    display: none;
  }

  &.active {
    opacity: 1;
    width: 25em;
    z-index: 3;

    .timeline-event--details,
    .timeline-date--footer {
      display: block;
    }
  }
}

.timeline-controls-container {
  position: fixed;
  left: 0;
  top: 6em;
  width: 100%;
  text-align: center;
}

.timeline-controls {
  background: #FFF;
  border: 1px solid $lightgrey;
  border-bottom: 0;
  border-radius: 0.25em;
  box-shadow: 0 2px 30px rgba(0,0,0,.1);
  display: inline-block;
  padding: 1em;
  margin: 0 auto;
}
