.section-timelines {
  overflow-x: auto;
  padding: 1em 3em 10em;
}

.timeline-list {
  padding: 0 0 3em 0;
  white-space: nowrap;
}

.timeline-date {
  display: inline-block;
  // min-width: 7em;
  position: relative;
}

.timeline-date--bubble {
  opacity: 0.8;
  position: absolute;
  top: 1.5em;
  left: -0.5em;
  width: auto;
  z-index: 2;

  background: $darkgrey;
  border-radius: 0.25em;
  color: $lightgrey;
  padding: 0.5em 1em;
  white-space: normal;

  transition: opacity $defaulttransition;

  &:hover {
    opacity: 1;
  }

  &:before {
    position: absolute;
    top: -0.3em;
    left: 0.65em;
    width: 0;
    height: 0;

    content: '';
    border-style: solid;
    border-width: 0 0.3em 0.3em 0.3em;
    border-color: transparent transparent $darkgrey transparent;
  }

  .timeline-date--date {
    white-space: nowrap;
  }

  .timeline-event--details {
    display: none;
  }

  &.active {
    opacity: 1;
    width: 25em;
    z-index: 3;

    .timeline-event--details {
      display: block;
    }
  }

}
